<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verifikasi Berhasil</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    />
    <link rel="stylesheet" href="/css/auth.css" />
  </head>

  <body>
    <div class="verification-container">
      <div class="verification-card">
        <!-- <button class="close-button">
          <i class="fas fa-times"></i>
        </button> -->
        <div class="success-icon">
          <i class="fa-solid fa-check" id="iconVerify"></i>
        </div>
        <h1 id="titleStatusVerify">Loading...</h1>
        <p class="success-message" id="messageStatusVerify">Loading...</p>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/eb28375789.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/verify.js"></script>
  </body>
</html>
